doctype html
head
style.
  .box-1 {
  <!-- height: 842px; -->
  background-color: #fff;
  border: 1px solid #aaa8a8;
  <!-- max-width: 900px; -->
  }
  .name {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  font-style: italic;
  margin: 0px;
  }
  p {
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 13px;
  }
  h6{
  margin-top: 0px;
  }
  .logo {
  background: #fff;
  padding: 10px;
  }
  .row1 {
  padding: 10px;
  background: #2996bd;
  }
  .row1 p {
  color: #eaeaea;
  }
  .row1 p a {
  font-size: 14px;
  text-decoration: underline;
  }
  .row2{
  display: -webkit-inline-box;
  }
  .row2 h5 {
  font-size: 14px;
  font-weight: 600;
  }
  .row2 h5 span {
  color: #1a88b5;
  }
  h3 {
  font-size: 17px;
  font-weight: 600;
  color: #000;
  margin-top: 30px;
  }
  table,
  th,
  td {
  border: 1px solid #ecebeb;
  border-collapse: collapse;
  }
  th,
  td {
  padding: 5px;
  text-align: left;
  }
  td {
  color: #6a6969;
  }
  .line-1{
  display: -webkit-inline-box;
  width: 98.3%;
  }
  .name-line{
  width:70%;
  }
  .name-line-2{
  width:30%;
  }
section(style='padding: 50px 0px; margin: 0px 10%;')
  .container.box-1
    .row.row1.line-1(style='padding: 10px;')
      .col-md-7.doc.name-line
        h5.name Dr. Sandhya Ramanujam 
        p Dental Surgeon and Implantologist
        p KMC Number: 124356
      .col-md-5.name-line-2(style='display: flex;')
        div(style='flex-basis: 70%; ')
          .power
            h6(style='font-weight:600;font-size:13px;margin-bottom: 0px;') Powered By:
            p
              a www.mysalveo.com
            p
              a dr@mysalveo.com
            p(style='font-size:14px') Phone: +91 7892976253
        div(style='flex-basis: 30%;')
          img.logo(style='height: 40px;' src='http://www.mysalveo.com/assets/images/logo/logo.png' alt='')
    .row.row2(style='padding: 10px;width: 98%;')
      .col-md-8(style='width:60%')
        h5(style='margin: 0px')
          | Patient Name: 
          span  vignesh V
      .col-md-2(style='padding:2px 10px 2px 2px; text-align:right')
        h5(style='margin: 0px')
          | Age: 
          span  25
      .col-md-2(style='padding:2px 10px 2px 2px;text-align:right')
        h5(style='margin: 0px')
          | Sex: 
          span  Male
      .col-md-8(style='padding:2px 10px 2px 2px; text-align:right')
        h5(style='margin: 0px')
          | Height: 
          span  154cm
      .col-md-2(style='padding:2px 10px 2px 2px; text-align:right')
        h5(style='margin: 0px')
          | Weight: 
          span  55kg
    hr(style='border-top: 1px solid rgb(41, 150, 189);')
    .row.row3(style='padding: 10px')
      .col-md-12
        h3(style='margin:10px 0px') Aliment Details:
        table(style='width:100%')
          
          tr
            td
              | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero&apos;s De Finibus Bonorum et Malorum for use in a type specimen book.
      .col-md-12
        h3(style='margin:10px 0px') Past Medications:
        table(style='width:100%')
          tr
            td
              | Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero&apos;s De Finibus Bonorum et Malorum for use in a type specimen book.
      .col-md-12
        h3(style='margin:10px 0px') Presciption:
        table(style='width:100%')
         
          tr
            th(style='width: 20%;font-size: 14px;color: #919090;text-align:center') Tablet Name
            th(style='width: 20%;font-size: 14px;color: #919090;text-align:center') Quantity
            th(style='width: 20%;font-size: 14px;color: #919090;text-align:center') Consumption
          tr
            td Dolo-650
            td 10
            td 3 per day
          tr
            td Dolo-650
            td 10
            td 3 per day
          tr
            td Dolo-650
            td 10
            td 3 per day
      .col-md-12
        h3(style='margin:7px 0px') Any other Instructions:
        table(style='width:100%')
         
          tr
            td
              | If throat pain, then hot water gargle with betdin liquid, Review after 7 days
    .row.row1(style='padding: 10px;')
      .col-md-12.doc(style='text-align:right;')
        img.logo(src='https://sgp1.digitaloceanspaces.com/quickcompany/trademark/25c298bee64b101a.jpg' style='width: 120px;height: 40px;' alt='')
        p (Dr. Sandhya Ramanujam)
